@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Titillium+Web:wght@200&display=swap');

body{
    background: linear-gradient(120deg, #5f57d1, #c065c0);
    font-family: 'Lato', sans-serif;
    min-height: 921px;
    background-repeat: no-repeat;
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h4{
    color: white;
    font-size: 50px;
}

#test{
    border: none;
    outline: none;
}

.add-new-task{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.new-task{
    font-size: 25px;
    width: 800px;
    height: 45px;
    background-color: #482F65;
    outline: none;
    border: none;
    padding: 0px 10px;
    color: white;
}

.add-btn{
    width: 104px;
    height: 45px;
    background-color: #5F9267;
    border: none;
    color: white;
    font-size: 25px;
}

.to-do-task{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    border-top: 2px solid white;
}

.task {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.to-do-task p{
    font-size: 25px;
    width: 800px;
    height: 45px;
    background-color: #482F65;
    outline: none;
    border: none;
    padding: 0px 10px;
    color: white;
    resize: none;
    display: flex;
    align-items: center;
 } 

.delete-btn{
    width: 23px;
    height: 13px;
    background-color: #A461C5;
    border: none;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-all-btn{
    width: 104px;
    height: 45px;
    background-color: #B83268;
    border: none;
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-btn{
    width: 23px;
    height: 13px;
    background-color: #995FC6;
    border: none;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-over-btn{
    width: 23px;
    height: 13px;
    background-color: #9E60C6;
    border: none;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-all-btn{
    width: 100px;
}

.close-all-btn-container{
    width: 100px;
}
